{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="span12">
        <div class="comment">

		    {% if session.user-id %}
			<form method="POST" action="/logout">
			  {% csrf-field %}
			  <input type="submit" class="btn btn-primary" value="Log out" />
			</form>

			{% else %}
            <form method="POST" action="/login">
                {% csrf-field %}
                <p>
                    Name:
                    <input class="form-control"
                           type="text"
                           name="name"
                           value="{{name}}"
                           />
                </p>
                {% if errors.name %}
                <div class="alert alert-danger">{{errors.name|join}}</div>
                {% endif %}
                <p>
                    Password:
                    <input class="form-control"
                           type="password"
                           name="password"
                           value="{{password}}"
                           />
                </p>
                {% if errors.password %}
                <div class="alert alert-danger">{{errors.password|join}}</div>
                {% endif %}
                <input type="submit" class="btn btn-primary" value="Log in" />

            </form>

			<div class="col-sm-4 social-buttons">
			  <a class="btn btn-block btn-social btn-facebook" href="/oauth/facebook/login">
				<i class="fa fa-facebook"></i> Sign in with Facebook
			  </a>
			</div>

			<div class="col-sm-4 social-buttons">
			  <a class="btn btn-block btn-social btn-github" href="/oauth/github/login">
				<i class="fa fa-github"></i> Sign in with GitHub
			  </a>
			</div>

			{% endif %}
        </div>
    </div>
</div>
{% endblock %}
