{% extends "base.html" %}
{% block content %}

<!-- facebook sdk download -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.4&appId=1068136783211255";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script>
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      // send access-token to application callback url
      location.href='/login/facebook/callback?facebook-id=' + response.authResponse.userID + '&token=' + response.authResponse.accessToken;
    });
  }
</script>

<div class="row">
    <div class="span12">
        <div class="comment">

		    {% if session.user-id %}
			<form method="POST" action="/logout">
			  {% csrf-field %}
			  <input type="submit" class="btn btn-primary" value="Log out" />
			</form>

			{% else %}
            <form method="POST" action="/login">
                {% csrf-field %}
                <p>
                    Name:
                    <input class="form-control"
                           type="text"
                           name="name"
                           value="{{name}}"
                           />
                </p>
                {% if errors.name %}
                <div class="alert alert-danger">{{errors.name|join}}</div>
                {% endif %}
                <p>
                    Password:
                    <input class="form-control"
                           type="password"
                           name="password"
                           value="{{password}}"
                           />
                </p>
                {% if errors.password %}
                <div class="alert alert-danger">{{errors.password|join}}</div>
                {% endif %}
                <input type="submit" class="btn btn-primary" value="Log in" />

				<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
				</fb:login-button>
            </form>
			{% endif %}
        </div>
    </div>
</div>
{% endblock %}
