{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="span12">
        <div class="comment">
            <form method="POST" action="/signup">
                {% csrf-field %}
                <p>
                    Name:
                    <input class="form-control"
                           type="text"
                           name="name"/>
                </p>
                {% if errors.name %}
                <div class="alert alert-danger">{{errors.name|join}}</div>
                {% endif %}
                <p>
                    Password:
                    <input class="form-control"
                           type="password"
                           name="password"/>
                </p>
                {% if errors.message %}
                <div class="alert alert-danger">{{errors.message|join}}</div>
                {% endif %}

                <div class="g-recaptcha" data-sitekey="6LcUqAwTAAAAAH_AmKpD4j0C99UuKFD2ZN02k2yY"></div>
                <input type="submit" class="btn btn-primary" value="Sign up" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block head-scripts %}
    {% script "https://www.google.com/recaptcha/api.js" %}
{% endblock %}
